.footer {
  background-color: #182029;
  height: 94px;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  .logo {
    margin: auto;
    display: flex;
    justify-content: center;
  }

  .items {
    margin: auto;
    display: flex;
    justify-content: center;
    margin: 10px;
  }

  .link {
    color: #009ED9;
    display: inline;
    float: left;
    margin-right: 16px;
  }

  .text {
    margin: auto;
    display: flex;
    justify-content: center;
    color: #FFFFFF;
  }
}