.footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #182029;
  height: 126px;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  .logo {
    margin: 0;
    padding-bottom: 24px;
  }

  .items {
    margin: auto;
    display: flex;
    justify-content: center;
    margin: 10px;
  }

  .link {
    color: #009ED9;
    display: inline;
  }

  .a {
    text-decoration: none;
    color: white;
  }

  .text {
    color: #FFFFFF;
  }
}