.expanded-menu {
  display: flex;
  flex-direction: column;

  position: absolute;
  height: fit-content;
  width: 296px;
  right: 20px;
  top: 100px;
  
  background: #191B22;
  border-radius: 8px;
  list-style-type: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;

  .login, .help, .watch, .subscribe {
    color: white;
    text-decoration: none;
  }

  #watch {
    color: white;
    text-decoration: none;
  }

  .divider-wrapper {
    display: flex;    
    align-items: center;

    .left { margin-left: 10px; }
    .right { margin-right: 10px; }
    .left, .right {
      color: white;
      width: 130px;
    }

    .or-with-divider {
      margin: 0;
      padding-left: 10px;
      padding-right: 10px;
      color: white;
    }
  }

}