.header {
  background-color: #040810;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  padding-top: 24px;
  padding-bottom: 24px;
  height: 32px;
  width: 100%;
  
  font-family: Segoe UI, Tahoma, Geneva, 'Verdana', sans-serif;
  color: white;

  .navigation-bar {
    display: flex;
    padding-left: 32px;

    float: center;
    align-items: center;
  }

  .link-item {
    color: #E2E2E2;
    display: flex;
    float: left;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: flex;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  .toolbar {
    &__container {
      margin-left: auto;
      padding-right: 48px;
    }

    &__options {
      display: flex;
      align-items: center;
    }
  }

}

