.container-landing {
  width: 100%;
  height: 616px;

  background: no-repeat;
  background-position: right;
  background-size: 100%;
  background-image: linear-gradient(to right, black 40%, transparent 58%),
    url(https://m.media-amazon.com/images/G/32/digital/video/merch/Other/BRND_MTH23_PVMagnetLeft_1440x675_POST_Final_noLocale_DOT3212.jpg);
  
  .subtitle, .primary, .secondary, .divider-wrapper, .or-with-divider {
    margin-left: 100px;
  }

  .subtitle {
    margin-top: 0;
    padding-top: 48px;
    font-weight: 400;
    font-size: 40px;
    color: #FFFFFF;
  }

  .primary {
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;

    margin-bottom: 48px;
    
    width: 502px;
    height: 108px;
    
    color: #FFFFFF;
  }

  .secondary {
    font-weight: 400;
    font-size: 14px;
    
    width: 486px;
    height: 38px;
    
    color: #FFFFFF;
  }

  .divider-wrapper {
    display: flex;
    padding-top: 16px;
    padding-bottom: 16px;
    
    align-items: center;
    border-width: .1em;

    .left, .right {
      margin: 0;
      color: white;
      width: 130px;
    }

    .or-with-divider {
      margin: 0;
      padding-left: 10px;
      padding-right: 10px;
      color: white;
    }
  }  
}